.rating {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.rating-link a {
  font-size: rem(14);
  text-decoration: underline;
  margin-left: 8px;
}
