@import '../../shared/scss/functions.scss';
@import '../../shared/scss/variables.scss';
@import '../../shared/scss/extends.scss';

.column-header {
  min-height: em((21 * 2), 18);
  margin-bottom: em(10, 18);
}

.column-wrapped {
  height: 100%;
  background: $white;
  padding: 60px 40px 50px;
  box-shadow: inset 0 0 0 10px $white, inset 0 0 0 11px $extraLightGray;
}

.column-wrapped {

  h3 {
    @extend %mobile-h2;
    margin-bottom: em(20, 30);
  }
}
