

html {
  font-size: $baseFontSize;
}

body {
  margin: 0;
  padding: 0;
  @extend %mobile-p;
  color: $fontLightBlack;
}

.App {
  background: $bgGray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

a {
  color: $primaryBlue;
  font-family: $secondaryFont;
  font-weight: bold;
}

a:hover {
  color: $black;
}

img {
  max-width: 100%;
}

h1,
.h1 {
  @extend %h1
}

h2,
.h2 {
  @extend %h2
}

h3,
.h3 {
  @extend %h3
}

h4,
.h4 {
  @extend %h4
}

h5,
.h5 {
  @extend %h5
}

h6,
.h6 {
  @extend %h6
}

.mobile-facts-h {
  @extend %mobile-facts-h;
}

.mobile-h2 {
  @extend %mobile-h2;
}

.mobile-h3 {
  @extend %mobile-h3;
}

.mobile-promo {
  @extend %mobile-promo;
}

.mobile-h4 {
  @extend %mobile-h4;
}

.mobile-p {
  @extend %mobile-p;

}

.mobile-p-medium {
  @extend %mobile-p-medium;
}

.mobile-p-small {
  @extend %mobile-p-small;
}

.desctop-quote-large {
  @extend %mobile-facts-h;
}
