// colors
$primaryBlue: #009bd8;
$lightBlue: #c6e5f1;
$black: #1a1a1a;
$darkGray: #4d4d4d;
$mediumGray: #828282;
$lightGray: #ccc;
$extraLightGray: #e5e5e5;
$bgGray: #f7f7f7;
$white: #fff;
$avatarBorder: #bdbdbd;

// fontColors
$fontBlack: #000;
$fontLightBlack: #4d4d4d;

// Fonts
$generalFont: 'Adobe Caslon Pro', 'Source Serif Pro', 'Times New Roman', serif;
$secondaryFont: 'Gilroy', 'Roboto', Arial, sans-serif;
$subFont: 'Vollkorn', 'Times New Roman', serif;
