@import '../../shared/scss/variables.scss';

.footer {
  margin-top: auto;
  justify-content: center;
  display: flex;
  align-items: center;
}

.footer-col {
  padding: 20px 0;
  height: 40px;
  position: relative;
  background: $black;

  &::before {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 50vw;
    background: inherit;
  }
}

.footer-left {
  background: $primaryBlue;
  &::before {
    left: 0;
    transform: translateX(-100%)
  }
}
