.col-with-aside-img {
  padding: 50px 0;

  .flex-row-reverse {
    padding-top: 50px;

    .content-col {
      padding-top: 75px;
    }
  }
}

.product-footer-link {
  text-align: center;
  @extend %mobile-h4;
  text-decoration: underline;
  margin-top: 20px;
}

.product-description {
  margin-bottom: 30px;
}
