.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.main-nav {
  border-right: 1px solid #e5e5e5;
  padding: 10px 0; }

.main-nav ul {
  display: flex; }

.main-nav a {
  display: block;
  color: #828282;
  padding: 0 12px;
  transition: all .3s;
  text-decoration: none; }
  .main-nav a:hover {
    color: #1a1a1a; }
