.size-item-wrapper {
  flex: 1 1 33.3333%;
  padding: 0 7px 14px;
}

.size-item {
  background: $white;
  padding: 5px 8px;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,.25);
  cursor: pointer;
  transition: all .3s;

  .size {
    @extend %mobile-h3;
  }

  .price {
    @extend %mobile-h4;
  }
}

.size-item:hover,
.selected-size {
  background: $black;
  color: $white;
  box-shadow: none;
}
