.inline-icon {
  margin-right: 11px;
}

.icon {
  display: inline-block;
}

.column-icon {
  margin-bottom: 20px;
}

.section-icon {
  margin-bottom: 30px;
}

.svg-main {
  fill:#828282;
}

.svg-main-stroke {
  stroke: #828282;
}

.svg-secondary {
  fill: $black;
}

.svg-with-bg {
  fill: $white;
}

svg {
  max-width: 100%;
}
