@import 'libs/scss/bootstrap.scss';
@import './shared/scss/variables.scss';
@import './shared/scss/functions.scss';

.App {
  background: $bgGray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

img {
  max-width: 100%;
}

h1 {
  font-family: $general;
  font-size: rem(64);
  font-weight: 400;
  line-height: 1em;
}
