.reviewer-name {
  font-size: 1rem;
  line-height: 1.25em;
  font-family: "Vollkorn", "Times New Roman", serif; }

.reviewer-type {
  font-size: 0.875rem;
  line-height: 1.25em;
  font-family: "Vollkorn", "Times New Roman", serif; }

.review-video {
  position: relative; }

.review-video .play-btn {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 59px; }

.reviewer {
  padding-top: 12px;
  display: flex;
  align-items: center; }

.avatar-wrapper {
  flex: 1 0 56px;
  min-width: 56px;
  max-width: 56px; }

.reviewer-info {
  padding: 0 11px; }

.reviewer-name {
  margin-bottom: 5px; }

.avatar {
  border: 1px solid #bdbdbd;
  border-radius: 50%;
  overflow: hidden;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .avatar img {
    width: 48px; }
